# Classification_Airline Delay
#### 2024.7.2

### Purpose of Data Analysis
    - Predict how much an aircraft will be delayed upon arrival.
    - Identify the reasons for delays and address these issues to improve service quality.
### Key Points
    - Learn the details of data processing, including join operations, handling missing values, and removing columns.
    - Learn methods to analyze categorical and numeric data (utilizing pandas profiling for easy EDA).
    -  Learn how to use XGBoost, analyze feature importance, and consider additional analyses.

In [43]:
pip install ydata-profiling

Requirement already satisfied: ydata-profiling in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (4.8.3)
Requirement already satisfied: scipy<1.14,>=1.4.1 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from ydata-profiling) (1.10.0)
Requirement already satisfied: pandas!=1.4.0,<3,>1.1 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from ydata-profiling) (2.2.2)
Requirement already satisfied: matplotlib<3.9,>=3.2 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from ydata-profiling) (3.7.0)
Requirement already satisfied: pydantic>=2 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from ydata-profiling) (2.7.1)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from ydata-profiling) (6.0)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from ydata-profiling) (3.1.2)
Requirement already satisfied: visions<0.7.7,>=0.7.5 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (0.7.6)
Requirement already satisfied: numpy<2,>=1.16.0 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from ydata-profiling) (1.23.5)
Requirement already satisfied: htmlmin==0.1.12 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from ydata-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from ydata-profiling) (0.12.4)
Requirement already satisfied: requests<3,>=2.24.0 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from ydata-profiling) (2.31.0)
Requirement already satisfied: tqdm<5,>=4.48.2 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from ydata-profiling) (4.64.1)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from ydata-profiling) (0.12.2)
Requirement already satisfied: multimethod<2,>=1.4 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from ydata-profiling) (1.11.2)
Requirement already satisfied: statsmodels<1,>=0.13.2 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from ydata-profiling) (0.13.5)
Requirement already satisfied: typeguard<5,>=3 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from ydata-profiling) (4.3.0)
Requirement already satisfied: imagehash==4.3.1 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.1 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from ydata-profiling) (1.9.3)
Requirement already satisfied: dacite>=1.8 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from ydata-profiling) (1.8.1)
Requirement already satisfied: numba<1,>=0.56.0 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from ydata-profiling) (0.56.4)
Requirement already satisfied: PyWavelets in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from imagehash==4.3.1->ydata-profiling) (1.4.1)
Requirement already satisfied: pillow in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from imagehash==4.3.1->ydata-profiling) (9.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (2.1.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (1.0.5)
Requirement already satisfied: cycler>=0.10 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (23.2)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (2.8.2)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from numba<1,>=0.56.0->ydata-profiling) (0.39.1)
Requirement already satisfied: setuptools in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from numba<1,>=0.56.0->ydata-profiling) (65.6.3)
Requirement already satisfied: pytz>=2020.1 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2022.7)
Requirement already satisfied: tzdata>=2022.7 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2024.1)
Requirement already satisfied: joblib>=0.14.1 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.4.2)
Requirement already satisfied: annotated-types>=0.4.0 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from pydantic>=2->ydata-profiling) (0.6.0)
Requirement already satisfied: pydantic-core==2.18.2 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from pydantic>=2->ydata-profiling) (2.18.2)
Requirement already satisfied: typing-extensions>=4.6.1 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from pydantic>=2->ydata-profiling) (4.11.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from requests<3,>=2.24.0->ydata-profiling) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from requests<3,>=2.24.0->ydata-profiling) (2023.7.22)
Requirement already satisfied: patsy>=0.5.2 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (0.5.3)
Requirement already satisfied: attrs>=19.3.0 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from visions<0.7.7,>=0.7.5->visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (22.1.0)
Requirement already satisfied: networkx>=2.4 in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from visions<0.7.7,>=0.7.5->visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (2.8.4)
Requirement already satisfied: six in /Users/chulwonchae/anaconda3/lib/python3.10/site-packages (from patsy>=0.5.2->statsmodels<1,>=0.13.2->ydata-profiling) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [44]:
# library for feature engineering and EDA
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from mpl_toolkits.mplot3d import proj3d
from IPython.display import Image
from ydata_profiling import ProfileReport
from datetime import datetime

# library for statistic
from scipy import stats
from scipy.stats import kruskal
from scipy.stats import f_oneway

# library for machine learning
import sklearn
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV

from xgboost import XGBRegressor

%matplotlib inline

## 1. Data Processing 1

### 1-1 Data Load

In [45]:
random_state = 1234

df_airlines = pd.read_csv("./data/4.Classification_Airline_delay/airlines.csv")
df_flights = pd.read_csv("./data/4.Classification_Airline_delay/flights.csv")
df_tzone_meta = pd.read_csv("./data/4.Classification_Airline_delay/tzone_meta.csv")
df_airports = pd.read_csv("./data/4.Classification_Airline_delay/airports.csv")
df_planes = pd.read_csv("./data/4.Classification_Airline_delay/planes.csv")
df_weather = pd.read_csv("./data/4.Classification_Airline_delay/weather.csv")

Check all the data

In [46]:
df_airlines.head()

  carrier                      name
0      AA    American Airlines Inc.
1      AS      Alaska Airlines Inc.
2      B6           JetBlue Airways
3      DL      Delta Air Lines Inc.
4      EV  ExpressJet Airlines Inc.

In [47]:
df_flights.head()
# time needs to be change in proper manner

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2017,10,1,27.0,2114,193.0,317.0,15,182.0,UA,1537,N54711,EWR,MIA,148.0,1085.0,21.0,14.0,2017-10-01 21:00:00
1,2017,10,1,519.0,525,-6.0,741.0,759,-18.0,UA,1161,N37287,EWR,IAH,183.0,1400.0,5.0,25.0,2017-10-01 05:00:00
2,2017,10,1,544.0,545,-1.0,815.0,819,-4.0,B6,27,N547JB,EWR,MCO,133.0,937.0,5.0,45.0,2017-10-01 05:00:00
3,2017,10,1,546.0,550,-4.0,702.0,719,-17.0,UA,761,N38446,LGA,ORD,108.0,733.0,5.0,50.0,2017-10-01 05:00:00
4,2017,10,1,552.0,600,-8.0,846.0,850,-4.0,NK,521,N675NK,EWR,FLL,156.0,1065.0,6.0,0.0,2017-10-01 06:00:00

In [48]:
df_flights.info()
# some missing data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303748 entries, 0 to 303747
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year            303748 non-null  int64
 1   month           303748 non-null  int64
 2   day             303748 non-null  int64
 3   dep_time        295938 non-null  float64
 4   sched_dep_time  303748 non-null  int64
 5   dep_delay       295934 non-null  float64
 6   arr_time        295600 non-null  float64
 7   sched_arr_time  303748 non-null  int64
 8   arr_delay       294896 non-null  float64
 9   carrier         303748 non-null  object
 10  flight          303748 non-null  int64
 11  tailnum         302757 non-null  object
 12  origin          303748 non-null  object
 13  dest            303748 non-null  object
 14  air_time        294896 non-null  float64
 15  distance        303748 non-null  float64
 16  hour            303748 non-null  float64
 17  minute          303748 non-null  float64
 18  time_hour       303748 non-null  object
dtypes: float64(8), int64(6), object(5)
memory usage: 44.0+ MB

In [49]:
df_flights.isna().sum()
# our target is predicting arr_deay, so will drop these NA

year                 0
month                0
day                  0
dep_time          7810
sched_dep_time       0
dep_delay         7814
arr_time          8148
sched_arr_time       0
arr_delay         8852
carrier              0
flight               0
tailnum            991
origin               0
dest                 0
air_time          8852
distance             0
hour                 0
minute               0
time_hour            0
dtype: int64

In [50]:
df_flights = df_flights.dropna(subset=['arr_delay']).copy()

In [51]:
df_tzone_meta.head()

   tzone         tzone_name
0      1   America/New_York
1      2    America/Chicago
2      3     America/Denver
3      4    America/Phoenix
4      5  America/Anchorage

In [52]:
df_airports.head()

,faa,name,lat,lon,alt,tz,dst,tzone
0,0V4,Brookneal/Campbell County Airport,37.141701,-79.016403,596,-5.0,A,1.0
1,19S,Sublette Municipal Airport,37.491402,-100.830002,2908,-5.0,A,NaN
2,23M,Clarke County Airport,32.084900,-88.738899,320,-6.0,A,2.0
3,2A5,Causey Airport,35.911800,-79.617599,723,-5.0,A,1.0
4,2H0,Shelby County Airport,39.410400,-88.845398,618,-6.0,A,2.0

In [53]:
df_airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1333 entries, 0 to 1332
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   faa     1333 non-null   object
 1   name    1333 non-null   object
 2   lat     1333 non-null   float64
 3   lon     1333 non-null   float64
 4   alt     1333 non-null   int64
 5   tz      1277 non-null   float64
 6   dst     1277 non-null   object
 7   tzone   1199 non-null   float64
dtypes: float64(4), int64(1), object(3)
memory usage: 83.4+ KB

In [54]:
# check if df_flights and fd_airport can be join
# 'dest' 'origin
print(len(df_airports.faa.unique()))
df_airports.faa.unique()

1333

array(['0V4', '19S', '23M', ..., 'ZSY', 'ZUN', 'ZZV'], dtype=object)

In [55]:
np.intersect1d(df_flights.dest.unique(), df_airports.faa.unique())

array(['ABQ', 'ACK', 'ALB', 'ANC', 'ATL', 'AUS', 'AVL', 'AVP', 'BDL',
       'BGR', 'BHM', 'BNA', 'BOS', 'BTV', 'BUF', 'BUR', 'BWI', 'BZN',
       'CAE', 'CAK', 'CHA', 'CHO', 'CHS', 'CLE', 'CLT', 'CMH', 'CVG',
       'DAB', 'DAL', 'DAY', 'DCA', 'DEN', 'DFW', 'DSM', 'DTW', 'EGE',
       'FLL', 'FNT', 'FWA', 'GRR', 'GSO', 'GSP', 'HDN', 'HNL', 'HOU',
       'HYA', 'IAD', 'IAH', 'ILM', 'IND', 'JAC', 'JAX', 'LAS', 'LAX',
       'LEX', 'LGB', 'MCI', 'MCO', 'MDW', 'MEM', 'MHT', 'MIA', 'MKE',
       'MSN', 'MSP', 'MSY', 'MTJ', 'MVY', 'MYR', 'OAK', 'OMA', 'ORD',
       'ORF', 'PBI', 'PDX', 'PHL', 'PHX', 'PIT', 'PSP', 'PVD', 'PWM',
       'RDU', 'RIC', 'RNO', 'ROC', 'RSW', 'SAN', 'SAT', 'SAV', 'SBN',
       'SDF', 'SEA', 'SFO', 'SJC', 'SLC', 'SMF', 'SNA', 'SRQ', 'STL',
       'SYR', 'TPA', 'TUS', 'TVC', 'TYS', 'XNA'], dtype=object)

In [56]:
np.intersect1d(df_flights.origin.unique(), df_airports.faa.unique())

array(['EWR', 'JFK', 'LGA'], dtype=object)

In [57]:
df_planes.head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N102AA,2007.0,Fixed wing single engine,AVIAT AIRCRAFT INC,A-1B,1,2.0,NaN,Reciprocating
1,N103AA,2007.0,Fixed wing single engine,AVIAT AIRCRAFT INC,A-1B,1,2.0,NaN,Reciprocating
2,N103SY,2014.0,Fixed wing multi engine,EMBRAER S A,ERJ 170-200 LR,2,88.0,NaN,Turbo-fan
3,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55.0,NaN,Turbo-fan
4,N105AA,1978.0,Fixed wing single engine,CESSNA,R182,1,4.0,111.0,Reciprocating

In [58]:
df_planes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3521 entries, 0 to 3520
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tailnum       3521 non-null   object
 1   year          3419 non-null   float64
 2   type          3521 non-null   object
 3   manufacturer  3521 non-null   object
 4   model         3521 non-null   object
 5   engines       3521 non-null   int64
 6   seats         3511 non-null   float64
 7   speed         62 non-null     float64
 8   engine        3521 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 247.7+ KB

In [59]:
df_planes.isna().sum()

tailnum            0
year             102
type               0
manufacturer       0
model              0
engines            0
seats             10
speed           3459
engine             0
dtype: int64

In [60]:
df_planes=df_planes.drop('speed',axis=1)

In [61]:
df_weather.head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2017.0,1.0,1,0,NaN,NaN,NaN,200.0,17.26170,19.864419,NaN,NaN,10.0,2017-01-01 08:00:00
1,EWR,2017.0,1.0,1,1,NaN,NaN,NaN,220.0,16.11092,18.540125,NaN,NaN,10.0,2017-01-01 09:00:00
2,EWR,2017.0,1.0,1,2,NaN,NaN,NaN,190.0,11.50780,13.242946,NaN,NaN,10.0,2017-01-01 10:00:00
3,EWR,2017.0,1.0,1,3,NaN,NaN,NaN,190.0,8.05546,9.270062,NaN,NaN,10.0,2017-01-01 11:00:00
4,EWR,2017.0,1.0,1,4,NaN,NaN,NaN,220.0,9.20624,10.594357,NaN,NaN,10.0,2017-01-01 12:00:00

In [62]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26201 entries, 0 to 26200
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   origin      26201 non-null  object
 1   year        26201 non-null  float64
 2   month       26201 non-null  float64
 3   day         26201 non-null  int64
 4   hour        26201 non-null  int64
 5   temp        559 non-null    float64
 6   dewp        559 non-null    float64
 7   humid       559 non-null    float64
 8   wind_dir    23540 non-null  float64
 9   wind_speed  23554 non-null  float64
 10  wind_gust   23554 non-null  float64
 11  precip      1370 non-null   float64
 12  pressure    433 non-null    float64
 13  visib       26190 non-null  float64
 14  time_hour   26201 non-null  object
dtypes: float64(11), int64(2), object(2)
memory usage: 3.0+ MB

In [63]:
df_weather.isna().sum()

origin            0
year              0
month             0
day               0
hour              0
temp          25642
dewp          25642
humid         25642
wind_dir       2661
wind_speed     2647
wind_gust      2647
precip        24831
pressure      25768
visib            11
time_hour         0
dtype: int64

In [64]:
df_weather = df_weather.drop(["temp", "dewp", "humid","precip","pressure"], axis=1)
df_weather

,origin,year,month,day,hour,wind_dir,wind_speed,wind_gust,visib,time_hour
0,EWR,2017.0,1.0,1,0,200.0,17.26170,19.864419,10.0,2017-01-01 08:00:00
1,EWR,2017.0,1.0,1,1,220.0,16.11092,18.540125,10.0,2017-01-01 09:00:00
2,EWR,2017.0,1.0,1,2,190.0,11.50780,13.242946,10.0,2017-01-01 10:00:00
3,EWR,2017.0,1.0,1,3,190.0,8.05546,9.270062,10.0,2017-01-01 11:00:00
4,EWR,2017.0,1.0,1,4,220.0,9.20624,10.594357,10.0,2017-01-01 12:00:00
...,...,...,...,...,...,...,...,...,...,...
26196,LGA,2017.0,12.0,30,19,210.0,9.20624,10.594357,5.0,2017-12-31 03:00:00
26197,LGA,2017.0,12.0,30,20,200.0,10.35702,11.918651,10.0,2017-12-31 04:00:00
26198,LGA,2017.0,12.0,30,21,280.0,8.05546,9.270062,10.0,2017-12-31 05:00:00
26199,LGA,2017.0,12.0,30,22,260.0,10.35702,11.918651,10.0,2017-12-31 06:00:00
26200,LGA,2017.0,12.0,30,23,250.0,11.50780,13.242946,10.0,2017-12-31 07:00:00

Since wheather would be affected by weather from yesterday, i will use ffill.

In [65]:
df_weather = df_weather.sort_values(["origin", "time_hour"]).groupby("origin").apply(lambda x : x.fillna(method="ffill"))

/var/folders/h1/6sllxx6j0zb6l_hvj_9ys3qh0000gn/T/ipykernel_10418/4238929852.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_weather = df_weather.sort_values(["origin", "time_hour"]).groupby("origin").apply(lambda x : x.fillna(method="ffill"))
/var/folders/h1/6sllxx6j0zb6l_hvj_9ys3qh0000gn/T/ipykernel_10418/4238929852.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_weather = df_weather.sort_values(["origin", "time_hour"]).groupby("origin").apply(lambda x : x.fillna(method="ffill"))

In [66]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 26201 entries, ('EWR', 0) to ('LGA', 26200)
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   origin      26201 non-null  object
 1   year        26201 non-null  float64
 2   month       26201 non-null  float64
 3   day         26201 non-null  int64
 4   hour        26201 non-null  int64
 5   wind_dir    26200 non-null  float64
 6   wind_speed  26200 non-null  float64
 7   wind_gust   26200 non-null  float64
 8   visib       26201 non-null  float64
 9   time_hour   26201 non-null  object
dtypes: float64(6), int64(2), object(2)
memory usage: 3.3+ MB

In [67]:
df_weather[8730:8740]

            origin    year  month  day  hour  wind_dir  wind_speed  wind_gust  \
origin
EWR    8730    EWR  2017.0   12.0   30    19     230.0     4.60312   5.297178
       8731    EWR  2017.0   12.0   30    20     220.0     8.05546   9.270062
       8732    EWR  2017.0   12.0   30    21     280.0    10.35702  11.918651
       8733    EWR  2017.0   12.0   30    22     260.0     6.90468   7.945768
       8734    EWR  2017.0   12.0   30    23     280.0     6.90468   7.945768
JFK    8735    JFK  2017.0    1.0    1     0       NaN         NaN        NaN
       8736    JFK  2017.0    1.0    1     1     220.0    14.96014  17.215830
       8737    JFK  2017.0    1.0    1     2     200.0    14.96014  17.215830
       8738    JFK  2017.0    1.0    1     3     220.0    13.80936  15.891535
       8739    JFK  2017.0    1.0    1     4     220.0    12.65858  14.567241

             visib            time_hour
origin
EWR    8730    4.0  2017-12-31 03:00:00
       8731    9.0  2017-12-31 04:00:00
       8732   10.0  2017-12-31 05:00:00
       8733   10.0  2017-12-31 06:00:00
       8734   10.0  2017-12-31 07:00:00
JFK    8735   10.0  2017-01-01 08:00:00
       8736   10.0  2017-01-01 09:00:00
       8737   10.0  2017-01-01 10:00:00
       8738   10.0  2017-01-01 11:00:00
       8739   10.0  2017-01-01 12:00:00

In [68]:
df_weather[df_weather['wind_dir'].isnull()]

,,origin,year,month,day,hour,wind_dir,wind_speed,wind_gust,visib,time_hour
origin,,,,,,,,,,,
JFK,8735,JFK,2017.0,1.0,1,0,NaN,NaN,NaN,10.0,2017-01-01 08:00:00

In [69]:
df_weather = df_weather.apply(lambda x: x.bfill()).reset_index(drop=True)

In [70]:
df_weather[df_weather['wind_dir'].isnull()]

Empty DataFrame
Columns: [origin, year, month, day, hour, wind_dir, wind_speed, wind_gust, visib, time_hour]
Index: []

In [71]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26201 entries, 0 to 26200
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   origin      26201 non-null  object
 1   year        26201 non-null  float64
 2   month       26201 non-null  float64
 3   day         26201 non-null  int64
 4   hour        26201 non-null  int64
 5   wind_dir    26201 non-null  float64
 6   wind_speed  26201 non-null  float64
 7   wind_gust   26201 non-null  float64
 8   visib       26201 non-null  float64
 9   time_hour   26201 non-null  object
dtypes: float64(6), int64(2), object(2)
memory usage: 2.0+ MB

### 1-3 Data Join
#### Join Process

#### 1. Join df_flights with df_airports: Join using df_flights["dest"] and df_airports["faa"]. Although it's possible to join using df_flights["origin"] and df_airports["faa"], the number of airports for origin is limited, so the join is performed on dest only.
    Combine flight information with detailed airport information.

#### 2. Join the result of step 1 with df_planes: Join using step1_df["tailnum"] and df_planes["tailnum"].
    Combine flight information with detailed plane information.

#### 3. Join the result of step 2 with df_weather: Join using step2_df[["origin", "time_hour"]] and df_weather[["origin", "time_hour"]].
    Combine flight information with weather information for the departure and arrival locations.

In [72]:
df_flight_and_airport = pd.merge(df_flights, df_airports, how='left', left_on='dest',right_on='faa')
df_flight_and_airport.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,minute,time_hour,faa,name,lat,lon,alt,tz,dst,tzone
0,2017,10,1,27.0,2114,193.0,317.0,15,182.0,UA,...,14.0,2017-10-01 21:00:00,MIA,Miami International Airport,25.793200,-80.290604,8.0,-5.0,A,1.0
1,2017,10,1,519.0,525,-6.0,741.0,759,-18.0,UA,...,25.0,2017-10-01 05:00:00,IAH,George Bush Intercontinental Houston Airport,29.984400,-95.341400,97.0,-6.0,A,2.0
2,2017,10,1,544.0,545,-1.0,815.0,819,-4.0,B6,...,45.0,2017-10-01 05:00:00,MCO,Orlando International Airport,28.429399,-81.308998,96.0,-5.0,A,1.0
3,2017,10,1,546.0,550,-4.0,702.0,719,-17.0,UA,...,50.0,2017-10-01 05:00:00,ORD,Chicago O'Hare International Airport,41.978600,-87.904800,672.0,-6.0,A,2.0
4,2017,10,1,552.0,600,-8.0,846.0,850,-4.0,NK,...,0.0,2017-10-01 06:00:00,FLL,Fort Lauderdale Hollywood International Airport,26.072599,-80.152702,9.0,-5.0,A,1.0

In [73]:
df_f_a_p = pd.merge(df_flight_and_airport, df_planes, how='left', on='tailnum', suffixes=("_flights","_planes"))
df_f_a_p.head()

,year_flights,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,tz,dst,tzone,year_planes,type,manufacturer,model,engines,seats,engine
0,2017,10,1,27.0,2114,193.0,317.0,15,182.0,UA,...,-5.0,A,1.0,1998.0,Fixed wing multi engine,BOEING,737-724,2.0,149.0,Turbo-fan
1,2017,10,1,519.0,525,-6.0,741.0,759,-18.0,UA,...,-6.0,A,2.0,2004.0,Fixed wing multi engine,BOEING,737-824,2.0,149.0,Turbo-fan
2,2017,10,1,544.0,545,-1.0,815.0,819,-4.0,B6,...,-5.0,A,1.0,2002.0,Fixed wing multi engine,AIRBUS,A320-232,2.0,200.0,Turbo-fan
3,2017,10,1,546.0,550,-4.0,702.0,719,-17.0,UA,...,-6.0,A,2.0,2012.0,Fixed wing multi engine,BOEING,737-924ER,2.0,191.0,Turbo-fan
4,2017,10,1,552.0,600,-8.0,846.0,850,-4.0,NK,...,-5.0,A,1.0,2017.0,Fixed wing multi engine,AIRBUS,A321-231,2.0,379.0,Turbo-fan

In [74]:
# Join the result of step 2 with df_weather
# Two types of joins are possible:
# 1) Weather information at the departure time
# 2) Weather information at the arrival time: It's unclear how to obtain this with the given data, so it is not performed. However, if possible, it would be good to include.

# 3 Weather information at the departure time
df_f_a_p["dest_datetime"] = pd.to_datetime(df_f_a_p["time_hour"])
# Since time_hour reflects the scheduled departure time, the actual delayed departure time needs to be added to this data.
# Additionally, time_hour does not include 'minutes', so the minutes column data needs to be added as well.
df_f_a_p["dest_datetime"] = df_f_a_p.apply(lambda x: x.dest_datetime + pd.Timedelta(minutes=x.dep_delay) + pd.Timedelta(minutes=x.minute), axis=1)

In [75]:
df_f_a_p["time_hour"]

0         2017-10-01 21:00:00
1         2017-10-01 05:00:00
2         2017-10-01 05:00:00
3         2017-10-01 05:00:00
4         2017-10-01 06:00:00
                 ...
294891    2017-09-30 22:00:00
294892    2017-09-30 22:00:00
294893    2017-09-30 22:00:00
294894    2017-09-30 23:00:00
294895    2017-09-30 22:00:00
Name: time_hour, Length: 294896, dtype: object

In [76]:
df_f_a_p["dest_datetime"]

0        2017-10-02 00:27:00
1        2017-10-01 05:19:00
2        2017-10-01 05:44:00
3        2017-10-01 05:46:00
4        2017-10-01 05:52:00
                 ...
294891   2017-09-30 22:38:00
294892   2017-09-30 22:41:00
294893   2017-09-30 22:48:00
294894   2017-09-30 23:19:00
294895   2017-09-30 23:25:00
Name: dest_datetime, Length: 294896, dtype: datetime64[ns]

In [77]:
df_f_a_p.head()

,year_flights,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,dst,tzone,year_planes,type,manufacturer,model,engines,seats,engine,dest_datetime
0,2017,10,1,27.0,2114,193.0,317.0,15,182.0,UA,...,A,1.0,1998.0,Fixed wing multi engine,BOEING,737-724,2.0,149.0,Turbo-fan,2017-10-02 00:27:00
1,2017,10,1,519.0,525,-6.0,741.0,759,-18.0,UA,...,A,2.0,2004.0,Fixed wing multi engine,BOEING,737-824,2.0,149.0,Turbo-fan,2017-10-01 05:19:00
2,2017,10,1,544.0,545,-1.0,815.0,819,-4.0,B6,...,A,1.0,2002.0,Fixed wing multi engine,AIRBUS,A320-232,2.0,200.0,Turbo-fan,2017-10-01 05:44:00
3,2017,10,1,546.0,550,-4.0,702.0,719,-17.0,UA,...,A,2.0,2012.0,Fixed wing multi engine,BOEING,737-924ER,2.0,191.0,Turbo-fan,2017-10-01 05:46:00
4,2017,10,1,552.0,600,-8.0,846.0,850,-4.0,NK,...,A,1.0,2017.0,Fixed wing multi engine,AIRBUS,A321-231,2.0,379.0,Turbo-fan,2017-10-01 05:52:00

In [78]:
df_weather.head()

,origin,year,month,day,hour,wind_dir,wind_speed,wind_gust,visib,time_hour
0,EWR,2017.0,1.0,1,0,200.0,17.26170,19.864419,10.0,2017-01-01 08:00:00
1,EWR,2017.0,1.0,1,1,220.0,16.11092,18.540125,10.0,2017-01-01 09:00:00
2,EWR,2017.0,1.0,1,2,190.0,11.50780,13.242946,10.0,2017-01-01 10:00:00
3,EWR,2017.0,1.0,1,3,190.0,8.05546,9.270062,10.0,2017-01-01 11:00:00
4,EWR,2017.0,1.0,1,4,220.0,9.20624,10.594357,10.0,2017-01-01 12:00:00

In [79]:
# Remove minute information from dest_datetime to join with weather data
df_f_a_p["dest_datetime"] = df_f_a_p["dest_datetime"].dt.strftime("%Y-%m-%d %H:00:00")

# Display the first row to verify the changes
df_f_a_p.head()

,year_flights,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,dst,tzone,year_planes,type,manufacturer,model,engines,seats,engine,dest_datetime
0,2017,10,1,27.0,2114,193.0,317.0,15,182.0,UA,...,A,1.0,1998.0,Fixed wing multi engine,BOEING,737-724,2.0,149.0,Turbo-fan,2017-10-02 00:00:00
1,2017,10,1,519.0,525,-6.0,741.0,759,-18.0,UA,...,A,2.0,2004.0,Fixed wing multi engine,BOEING,737-824,2.0,149.0,Turbo-fan,2017-10-01 05:00:00
2,2017,10,1,544.0,545,-1.0,815.0,819,-4.0,B6,...,A,1.0,2002.0,Fixed wing multi engine,AIRBUS,A320-232,2.0,200.0,Turbo-fan,2017-10-01 05:00:00
3,2017,10,1,546.0,550,-4.0,702.0,719,-17.0,UA,...,A,2.0,2012.0,Fixed wing multi engine,BOEING,737-924ER,2.0,191.0,Turbo-fan,2017-10-01 05:00:00
4,2017,10,1,552.0,600,-8.0,846.0,850,-4.0,NK,...,A,1.0,2017.0,Fixed wing multi engine,AIRBUS,A321-231,2.0,379.0,Turbo-fan,2017-10-01 05:00:00

In [86]:
df_f_a_p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294896 entries, 0 to 294895
Data columns (total 35 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year_flights    294896 non-null  int64
 1   month           294896 non-null  int64
 2   day             294896 non-null  int64
 3   dep_time        294896 non-null  float64
 4   sched_dep_time  294896 non-null  int64
 5   dep_delay       294896 non-null  float64
 6   arr_time        294896 non-null  float64
 7   sched_arr_time  294896 non-null  int64
 8   arr_delay       294896 non-null  float64
 9   carrier         294896 non-null  object
 10  flight          294896 non-null  int64
 11  tailnum         294896 non-null  object
 12  origin          294896 non-null  object
 13  dest            294896 non-null  object
 14  air_time        294896 non-null  float64
 15  distance        294896 non-null  float64
 16  hour            294896 non-null  float64
 17  minute          294896 non-null  float64
 18  time_hour       294896 non-null  object
 19  faa             288914 non-null  object
 20  name            288914 non-null  object
 21  lat             288914 non-null  float64
 22  lon             288914 non-null  float64
 23  alt             288914 non-null  float64
 24  tz              288914 non-null  float64
 25  dst             288914 non-null  object
 26  tzone           288914 non-null  float64
 27  year_planes     251043 non-null  float64
 28  type            258583 non-null  object
 29  manufacturer    258583 non-null  object
 30  model           258583 non-null  object
 31  engines         258583 non-null  float64
 32  seats           257966 non-null  float64
 33  engine          258583 non-null  object
 34  dest_datetime   294896 non-null  object
dtypes: float64(16), int64(6), object(13)
memory usage: 78.7+ MB

In [85]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26201 entries, 0 to 26200
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   origin      26201 non-null  object
 1   year        26201 non-null  float64
 2   month       26201 non-null  float64
 3   day         26201 non-null  int64
 4   hour        26201 non-null  int64
 5   wind_dir    26201 non-null  float64
 6   wind_speed  26201 non-null  float64
 7   wind_gust   26201 non-null  float64
 8   visib       26201 non-null  float64
 9   time_hour   26201 non-null  object
dtypes: float64(6), int64(2), object(2)
memory usage: 2.0+ MB

In [87]:
# To join, df_weather['time_hour'] should chnage into 'dest_datetime'
df_weather = df_weather.rename(columns={'time_hour': 'dest_datetime' })

In [88]:
df_final = pd.merge(df_f_a_p, df_weather, how="left", on=["origin","dest_datetime"], suffixes=("", "_weather"))
# _x, _y

In [89]:
df_final.head()

,year_flights,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,engine,dest_datetime,year,month_weather,day_weather,hour_weather,wind_dir,wind_speed,wind_gust,visib
0,2017,10,1,27.0,2114,193.0,317.0,15,182.0,UA,...,Turbo-fan,2017-10-02 00:00:00,2017.0,10.0,1.0,17.0,40.0,9.20624,10.594357,10.0
1,2017,10,1,519.0,525,-6.0,741.0,759,-18.0,UA,...,Turbo-fan,2017-10-01 05:00:00,2017.0,9.0,30.0,22.0,360.0,16.11092,18.540125,10.0
2,2017,10,1,544.0,545,-1.0,815.0,819,-4.0,B6,...,Turbo-fan,2017-10-01 05:00:00,2017.0,9.0,30.0,22.0,360.0,16.11092,18.540125,10.0
3,2017,10,1,546.0,550,-4.0,702.0,719,-17.0,UA,...,Turbo-fan,2017-10-01 05:00:00,2017.0,9.0,30.0,22.0,360.0,19.56326,22.513008,10.0
4,2017,10,1,552.0,600,-8.0,846.0,850,-4.0,NK,...,Turbo-fan,2017-10-01 05:00:00,2017.0,9.0,30.0,22.0,360.0,16.11092,18.540125,10.0

### 1-4 Duplicated Data

In [90]:
print("Number of Duplicated :", len(df_final[df_final.duplicated()]))

Number of Duplicated : 0

## 2. Data EDA

### 2-1 Data Type and Summary

In [91]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294896 entries, 0 to 294895
Data columns (total 43 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year_flights    294896 non-null  int64
 1   month           294896 non-null  int64
 2   day             294896 non-null  int64
 3   dep_time        294896 non-null  float64
 4   sched_dep_time  294896 non-null  int64
 5   dep_delay       294896 non-null  float64
 6   arr_time        294896 non-null  float64
 7   sched_arr_time  294896 non-null  int64
 8   arr_delay       294896 non-null  float64
 9   carrier         294896 non-null  object
 10  flight          294896 non-null  int64
 11  tailnum         294896 non-null  object
 12  origin          294896 non-null  object
 13  dest            294896 non-null  object
 14  air_time        294896 non-null  float64
 15  distance        294896 non-null  float64
 16  hour            294896 non-null  float64
 17  minute          294896 non-null  float64
 18  time_hour       294896 non-null  object
 19  faa             288914 non-null  object
 20  name            288914 non-null  object
 21  lat             288914 non-null  float64
 22  lon             288914 non-null  float64
 23  alt             288914 non-null  float64
 24  tz              288914 non-null  float64
 25  dst             288914 non-null  object
 26  tzone           288914 non-null  float64
 27  year_planes     251043 non-null  float64
 28  type            258583 non-null  object
 29  manufacturer    258583 non-null  object
 30  model           258583 non-null  object
 31  engines         258583 non-null  float64
 32  seats           257966 non-null  float64
 33  engine          258583 non-null  object
 34  dest_datetime   294896 non-null  object
 35  year            294113 non-null  float64
 36  month_weather   294113 non-null  float64
 37  day_weather     294113 non-null  float64
 38  hour_weather    294113 non-null  float64
 39  wind_dir        294113 non-null  float64
 40  wind_speed      294113 non-null  float64
 41  wind_gust       294113 non-null  float64
 42  visib           294113 non-null  float64
dtypes: float64(24), int64(6), object(13)
memory usage: 96.7+ MB

In [92]:
df_final.isna().sum()

year_flights          0
month                 0
day                   0
dep_time              0
sched_dep_time        0
dep_delay             0
arr_time              0
sched_arr_time        0
arr_delay             0
carrier               0
flight                0
tailnum               0
origin                0
dest                  0
air_time              0
distance              0
hour                  0
minute                0
time_hour             0
faa                5982
name               5982
lat                5982
lon                5982
alt                5982
tz                 5982
dst                5982
tzone              5982
year_planes       43853
type              36313
manufacturer      36313
model             36313
engines           36313
seats             36930
engine            36313
dest_datetime         0
year                783
month_weather       783
day_weather         783
hour_weather        783
wind_dir            783
wind_speed          783
wind_gust           783
visib               783
dtype: int64

In [94]:
# categorical and numerical
for column_name in list(df_final.columns):
    print(column_name, type(df_final[column_name][0]), df_final[column_name].unique())

year_flights <class 'numpy.int64'> [2017]
month <class 'numpy.int64'> [10 11 12  1  2  3  4  5  6  7  8  9]
day <class 'numpy.int64'> [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
dep_time <class 'numpy.float64'> [ 27. 519. 544. ... 254. 425. 400.]
sched_dep_time <class 'numpy.int64'> [2114  525  545 ... 2231 2111 2354]
dep_delay <class 'numpy.float64'> [ 1.930e+02 -6.000e+00 -1.000e+00 -4.000e+00 -8.000e+00 -7.000e+00
 -1.200e+01 -5.000e+00 -3.000e+00 -9.000e+00  7.330e+02  0.000e+00
  3.300e+01  1.000e+00 -1.100e+01 -1.000e+01 -2.000e+00  1.200e+01
 -1.400e+01  5.000e+00  3.000e+00  2.000e+00  1.500e+01  1.400e+01
  3.400e+01  5.200e+01  1.530e+02 -1.700e+01 -1.600e+01  7.000e+00
 -1.300e+01  2.200e+01  8.000e+00  6.100e+01 -2.100e+01  7.600e+01
  2.800e+01  4.000e+00  9.000e+00  1.020e+02  1.080e+02 -1.500e+01
  1.800e+01  5.000e+01  1.900e+01  6.000e+00  4.900e+01  2.000e+01
  1.000e+01  3.000e+01  2.300e+01  5.600e+01  1.600e+01  6.700e+01
  2.400e+01  6.000e+01  3.800e+01  9.500e+01  6.800e+01  5.700e+01
  3.700e+01  4.300e+01  7.800e+01  3.500e+01  4.000e+01  5.400e+01
  6.400e+01  3.590e+02  1.050e+02  4.700e+01  4.400e+01  1.100e+01
  3.200e+01  7.300e+01  1.430e+02  5.800e+01  2.600e+01  2.210e+02
  2.700e+01  1.700e+01  3.600e+01  7.100e+01  1.300e+01  1.320e+02
  1.300e+02  4.100e+01  4.800e+01  8.400e+01  8.600e+01  2.100e+01
  7.500e+01  5.900e+01  4.500e+01  7.000e+01  1.220e+02  4.200e+01
  7.200e+01  6.200e+01  1.210e+02  4.600e+01  1.190e+02  3.490e+02
  1.620e+02  7.220e+02  6.900e+01  3.100e+01  9.400e+01  1.730e+02
  5.500e+01 -1.900e+01  3.370e+02  2.500e+01  8.300e+01  1.520e+02
  1.670e+02 -1.800e+01  2.900e+01  2.730e+02 -2.000e+01  3.900e+01
  6.300e+01  1.110e+02  4.130e+02  1.610e+02  1.260e+02  9.900e+01
  8.090e+02  2.640e+02  1.250e+02  2.000e+02  6.600e+01  1.830e+02
  1.290e+02  6.500e+01  1.010e+02  8.900e+01  1.070e+02  1.330e+02
  9.700e+01  8.700e+01  5.300e+01  8.200e+01 -2.300e+01  5.030e+02
  3.030e+02  1.460e+02  9.100e+01  7.700e+01  1.170e+02  1.630e+02
  1.970e+02  7.900e+01  9.300e+01  9.000e+01  1.060e+02  2.530e+02
  1.980e+02  6.340e+02  7.660e+02  2.080e+02  9.900e+02  1.007e+03
  5.100e+01  3.860e+02  8.000e+01  2.380e+02  2.950e+02  1.340e+02
  1.560e+02  1.040e+02  8.100e+01  9.800e+01  2.420e+02  1.440e+02
  1.310e+02  2.040e+02  9.600e+01  8.110e+02  1.380e+02  9.200e+01
  2.170e+02  1.090e+02  1.200e+02  1.580e+02  1.000e+02  1.480e+02
  1.160e+02  8.500e+01  1.030e+02  3.250e+02  1.890e+02  1.510e+02
  1.820e+02  4.950e+02  5.300e+02  2.150e+02  1.270e+02  1.700e+02
  1.350e+02  1.900e+02  1.920e+02  1.280e+02  1.390e+02  1.640e+02
  1.850e+02  1.880e+02  2.110e+02  2.580e+02  1.650e+02  1.600e+02
  1.720e+02  1.140e+02  1.770e+02  2.440e+02  1.570e+02  1.710e+02
  1.360e+02  1.230e+02  2.450e+02  1.960e+02  2.520e+02  8.800e+01
  1.800e+02  1.450e+02  3.270e+02  1.420e+02  1.540e+02  2.760e+02
  2.250e+02  2.720e+02  1.490e+02  1.910e+02  2.190e+02  2.390e+02
  1.180e+02  7.400e+01  1.410e+02  1.100e+02  1.130e+02  2.220e+02
  1.400e+02  1.500e+02  1.150e+02  1.760e+02  1.690e+02  1.120e+02
  2.180e+02  1.940e+02  2.050e+02  1.740e+02  2.310e+02  1.370e+02
  2.370e+02  1.790e+02  2.140e+02  1.780e+02  1.990e+02  2.120e+02
  2.270e+02  3.710e+02  4.200e+02  3.100e+02  3.110e+02  2.030e+02
  1.550e+02  1.860e+02  1.660e+02  2.600e+02  2.230e+02  1.240e+02
  1.470e+02  2.540e+02  2.020e+02  3.660e+02  3.210e+02  1.680e+02
  3.880e+02  1.590e+02  3.770e+02  3.340e+02  2.280e+02  2.100e+02
  2.160e+02  2.830e+02  2.300e+02  2.700e+02  2.740e+02  2.060e+02
  2.510e+02  3.230e+02  1.810e+02  2.200e+02  2.670e+02  1.840e+02
  2.850e+02  1.950e+02  2.130e+02  2.890e+02  2.010e+02  1.870e+02
 -2.800e+01  1.750e+02 -2.400e+01 -2.200e+01  2.880e+02  8.610e+02
  2.290e+02  1.160e+03  2.470e+02  2.610e+02  2.330e+02  2.870e+02
  2.930e+02  3.990e+02  3.900e+02  2.070e+02  3.310e+02  4.070e+02
  2.810e+02  4.860e+02  4.760e+02  8.720e+02  9.260e+02  9.360e+02
  2.460e+02  2.260e+02  3.260e+02  2.750e+02  4.540e+02  2.360e+02
  2.500e+02  3.640e+02  3.350e+02  3.080e+02  2.480e+02  3.730e+02
  2.320e+02  3.400e+02  3.520e+02  3.240e+02  3.380e+02  2.350e+02
  2.990e+02  4.460e+02  3.850e+02  3.570e+02  4.470e+02  2.790e+02
  3.320e+02  3.330e+02  3.430e+02  4.410e+02  2.800e+02  7.770e+02
  1.116e+03  7.090e+02  9.580e+02  1.138e+03  3.300e+02 -2.900e+01
  2.430e+02  2.690e+02  2.560e+02  2.240e+02  4.910e+02  2.400e+02
  3.410e+02  2.630e+02  3.190e+02 -2.600e+01  3.070e+02  2.770e+02
  3.130e+02  4.510e+02  6.210e+02  2.960e+02  2.590e+02  2.620e+02
  4.120e+02  8.000e+02 -2.700e+01  8.660e+02  3.610e+02  4.360e+02
  2.780e+02  4.040e+02  2.860e+02  3.760e+02  4.690e+02  3.600e+02
  2.910e+02  3.890e+02  9.160e+02  2.570e+02  2.490e+02  3.120e+02
  2.090e+02  3.580e+02  3.160e+02  1.150e+03  9.370e+02  1.025e+03
  1.248e+03  3.510e+02  4.140e+02  4.820e+02  2.710e+02  3.140e+02
  8.060e+02  3.650e+02  3.550e+02  4.640e+02  4.190e+02  2.410e+02
  3.450e+02  2.900e+02  4.230e+02  3.720e+02  3.700e+02  3.010e+02
  4.300e+02  5.210e+02  5.110e+02  3.820e+02  5.710e+02  8.560e+02
  3.200e+02  3.470e+02  2.840e+02  3.050e+02  3.290e+02  2.680e+02
  6.590e+02  2.660e+02  3.020e+02  7.050e+02  3.790e+02  4.110e+02
  2.820e+02  7.080e+02  3.920e+02  5.630e+02  3.560e+02  3.180e+02
  3.040e+02  3.870e+02  4.340e+02  9.140e+02  4.700e+02  4.350e+02
  3.530e+02  2.940e+02  5.390e+02  3.690e+02  5.750e+02  5.040e+02
  4.310e+02  6.800e+02  9.320e+02  3.360e+02  2.550e+02  4.030e+02
  4.740e+02  2.970e+02  4.980e+02  3.950e+02  6.700e+02  3.910e+02
  4.150e+02  4.380e+02  9.510e+02  3.000e+02  4.890e+02  3.960e+02
  3.930e+02  5.850e+02  3.500e+02  8.830e+02  3.970e+02  6.350e+02
  5.360e+02  2.340e+02  6.530e+02  8.970e+02  3.940e+02  4.250e+02
  8.390e+02  3.460e+02  1.301e+03  3.980e+02  5.700e+02  6.550e+02
  3.060e+02  6.140e+02  6.960e+02  3.540e+02  3.440e+02  3.220e+02
 -2.500e+01  8.780e+02  3.620e+02  4.370e+02  5.970e+02  5.610e+02
  6.860e+02  7.600e+02  8.950e+02  9.670e+02  4.180e+02  5.220e+02
  8.870e+02  1.020e+03  6.380e+02  3.150e+02  7.830e+02  8.750e+02
  3.750e+02  2.650e+02  5.060e+02  4.270e+02  7.170e+02  6.740e+02
  8.500e+02  4.680e+02  4.390e+02  4.010e+02  3.480e+02  2.980e+02
  4.920e+02  1.175e+03  3.090e+02  7.720e+02  3.840e+02  5.380e+02
  8.240e+02  9.810e+02  5.010e+02  1.061e+03  7.130e+02  7.540e+02
  3.740e+02  4.000e+02  5.590e+02  7.230e+02  9.200e+02  5.440e+02
  7.880e+02  7.960e+02  8.340e+02  7.800e+02  4.210e+02  4.170e+02
  3.420e+02  7.810e+02  8.530e+02  4.430e+02  1.104e+03  5.870e+02
  1.083e+03  5.430e+02  5.180e+02  3.280e+02  4.720e+02  5.070e+02
  3.810e+02  8.690e+02  9.060e+02  8.370e+02  2.920e+02  3.630e+02
  4.260e+02  1.005e+03  4.550e+02  8.570e+02  1.046e+03  4.420e+02
  7.260e+02  1.045e+03  4.100e+02  4.050e+02  3.170e+02  5.100e+02
  5.560e+02  1.153e+03  3.680e+02  4.600e+02  4.220e+02  5.600e+02
  4.560e+02  8.520e+02  5.780e+02  6.690e+02  6.190e+02  3.390e+02
  8.210e+02  8.260e+02  9.680e+02  9.650e+02  5.910e+02  6.790e+02
  4.750e+02  4.490e+02  1.548e+03  6.820e+02  5.550e+02  7.710e+02
  1.006e+03  9.130e+02  8.250e+02  1.021e+03  6.810e+02  5.540e+02
  4.770e+02  4.810e+02  4.450e+02  8.740e+02  8.890e+02  8.360e+02
  5.830e+02  8.050e+02  9.390e+02  4.590e+02  1.086e+03  4.280e+02
  4.880e+02  3.830e+02  6.880e+02  4.580e+02  6.030e+02  6.250e+02
  5.940e+02  1.043e+03  8.400e+02  1.145e+03  7.100e+02  4.630e+02
  3.800e+02  4.530e+02  5.200e+02  6.180e+02  7.390e+02  4.850e+02
  8.840e+02  8.450e+02  5.510e+02  8.160e+02  4.780e+02  4.620e+02
  3.670e+02  5.420e+02  1.136e+03  1.067e+03  4.670e+02  7.780e+02
  6.460e+02  7.290e+02  7.920e+02  9.750e+02  7.620e+02  4.840e+02
  4.020e+02  4.970e+02  5.640e+02  5.290e+02  1.063e+03  1.227e+03
  1.217e+03  4.320e+02  5.090e+02  4.900e+02  5.480e+02  4.160e+02
  5.720e+02  6.390e+02  3.780e+02  4.940e+02  8.790e+02  9.050e+02
  4.090e+02  5.320e+02  7.900e+02  8.540e+02  1.013e+03  1.114e+03
  6.060e+02  4.400e+02  7.850e+02  1.034e+03  5.730e+02  6.480e+02
  7.630e+02  8.280e+02  6.870e+02  7.500e+02  9.890e+02  1.141e+03
  9.090e+02  9.330e+02  4.290e+02  6.320e+02  1.019e+03  1.096e+03
  8.850e+02  9.470e+02  6.920e+02  4.060e+02  6.020e+02  8.510e+02
  6.890e+02  7.890e+02  7.980e+02  4.080e+02  4.870e+02  6.220e+02
  6.570e+02  7.760e+02  9.240e+02  1.201e+03  6.760e+02  5.800e+02
  5.530e+02  1.027e+03  1.253e+03  1.174e+03  4.240e+02  4.930e+02
  5.000e+02  4.570e+02  5.130e+02  6.150e+02  9.280e+02  4.610e+02
  9.450e+02  7.530e+02  8.170e+02  1.171e+03  8.600e+02  1.049e+03
  5.280e+02  8.130e+02  8.480e+02  4.500e+02  7.200e+02  9.800e+02
  9.640e+02  5.950e+02  1.214e+03  8.200e+02  5.620e+02  6.260e+02
  6.930e+02  6.160e+02  7.000e+02  9.830e+02  8.700e+02 -8.400e+01
  4.830e+02  7.560e+02  7.460e+02]
arr_time <class 'numpy.float64'> [317. 741. 815. ... 533. 546. 552.]
sched_arr_time <class 'numpy.int64'> [ 15 759 819 ... 702 712 109]
arr_delay <class 'numpy.float64'> [ 1.820e+02 -1.800e+01 -4.000e+00 -1.700e+01 -6.000e+00  0.000e+00
 -2.200e+01 -2.100e+01 -1.300e+01 -2.700e+01 -3.600e+01 -9.000e+00
 -1.200e+01 -1.600e+01  7.080e+02 -7.000e+00 -8.000e+00 -2.000e+00
 -1.000e+00 -1.000e+01  5.000e+00 -1.400e+01 -3.100e+01  3.300e+01
 -4.500e+01 -3.200e+01 -2.900e+01 -4.000e+01 -3.400e+01 -2.800e+01
 -1.500e+01 -2.500e+01 -1.900e+01 -2.000e+01 -2.400e+01 -1.100e+01
  1.900e+01 -2.300e+01 -5.000e+00 -2.600e+01  3.000e+00 -3.900e+01
 -3.000e+01 -4.700e+01 -5.200e+01 -3.300e+01  4.000e+00  7.000e+00
 -5.000e+01  1.600e+01  2.500e+01  1.420e+02 -3.000e+00 -3.500e+01
 -4.100e+01 -4.300e+01 -3.700e+01 -4.200e+01 -4.900e+01  1.000e+00
  6.000e+00 -4.800e+01  1.300e+01  5.700e+01  6.500e+01  1.000e+01
  2.800e+01  1.110e+02 -3.800e+01  8.800e+01  2.900e+01  3.200e+01
  1.500e+01  2.000e+00  3.800e+01  1.400e+01  3.400e+01  3.700e+01
  3.900e+01  4.900e+01  1.700e+01  4.500e+01  2.300e+01  1.800e+01
  9.700e+01  5.800e+01  3.000e+01  2.100e+01  3.500e+01  7.200e+01
  9.000e+00  1.200e+01  8.000e+00  4.000e+01  4.400e+01  2.000e+01
  2.200e+01  3.580e+02  6.700e+01  2.400e+01  2.600e+01  1.590e+02
  7.000e+01  9.800e+01  4.800e+01  2.700e+01  1.340e+02  6.900e+01
  6.100e+01  1.250e+02  2.250e+02  1.100e+01  3.100e+01  7.300e+01
  5.000e+01  1.450e+02  8.900e+01  8.000e+01  1.210e+02  7.100e+01
  3.600e+01  8.100e+01  6.600e+01  4.200e+01  4.600e+01  5.600e+01
  9.000e+01  5.500e+01  6.800e+01  8.700e+01  5.200e+01  5.900e+01
  8.500e+01  6.000e+01  1.280e+02  2.860e+02  1.500e+02  7.270e+02
 -4.400e+01 -4.600e+01  7.500e+01  9.300e+01  1.430e+02  3.210e+02
  6.200e+01  6.400e+01  1.510e+02  1.540e+02  2.640e+02  4.100e+01
  6.300e+01  5.400e+01  8.300e+01  1.810e+02  4.090e+02  1.230e+02
  1.000e+02  8.000e+02  2.170e+02 -5.800e+01 -5.300e+01 -5.900e+01
  5.300e+01  5.100e+01  1.930e+02  1.730e+02  1.520e+02  9.600e+01
 -5.600e+01  4.300e+01 -5.100e+01  1.010e+02  1.630e+02  7.400e+01
  4.970e+02  4.700e+01  2.950e+02  1.020e+02  9.400e+01  1.550e+02
  1.030e+02  1.150e+02  1.390e+02  1.870e+02  9.100e+01  1.090e+02
  7.600e+01  8.600e+01  2.320e+02  1.960e+02  6.670e+02  7.560e+02
  2.180e+02  9.720e+02  9.960e+02  3.720e+02  7.700e+01  2.270e+02
  2.970e+02  1.400e+02  1.440e+02  7.800e+01  2.030e+02  1.380e+02
  1.130e+02  1.270e+02  1.970e+02  7.880e+02  9.200e+01  1.460e+02
  2.060e+02  2.490e+02  1.050e+02  1.060e+02  1.140e+02  1.100e+02
  9.500e+01  3.160e+02  1.160e+02  7.830e+02  2.000e+02  1.180e+02
  1.860e+02  4.640e+02  5.290e+02  1.170e+02  2.120e+02  1.200e+02
  1.710e+02  1.890e+02  1.640e+02  1.080e+02  8.400e+01  1.370e+02
  1.900e+02  1.830e+02  2.100e+02  2.200e+02  1.490e+02  1.770e+02
  9.900e+01  7.900e+01  1.470e+02  1.670e+02  2.240e+02  1.310e+02
  1.120e+02  1.330e+02  2.440e+02  1.620e+02  1.760e+02  2.340e+02
  1.320e+02  1.530e+02  2.920e+02  1.410e+02  2.310e+02  1.940e+02
  1.070e+02  2.600e+02  2.230e+02  1.740e+02  1.990e+02  2.220e+02
  1.560e+02  8.200e+01  1.290e+02  1.040e+02  2.020e+02  1.220e+02
  1.350e+02  1.650e+02  1.360e+02  1.920e+02  1.610e+02  2.420e+02
  2.010e+02  2.720e+02  1.720e+02  1.190e+02  1.660e+02  2.090e+02
  1.750e+02  1.570e+02  1.880e+02  3.490e+02  4.020e+02  2.830e+02
  3.100e+02  2.070e+02  2.500e+02  2.260e+02  1.300e+02  2.280e+02
  1.790e+02  2.050e+02  3.550e+02  2.450e+02  3.320e+02  1.680e+02
  3.760e+02  3.640e+02  3.340e+02  2.040e+02  1.980e+02  2.540e+02
  1.690e+02  2.610e+02  1.240e+02  1.950e+02  1.780e+02  2.210e+02
  1.700e+02  1.910e+02  2.430e+02  1.800e+02  2.080e+02  2.590e+02
  2.820e+02  1.580e+02  1.260e+02  8.510e+02  1.159e+03  2.620e+02
  2.580e+02  2.510e+02  2.350e+02 -5.400e+01 -5.700e+01 -6.000e+01
 -6.300e+01  3.130e+02  2.330e+02  2.700e+02  3.900e+02  3.860e+02
  2.460e+02 -5.500e+01 -6.200e+01 -6.100e+01  3.310e+02  2.630e+02
  4.820e+02  4.490e+02  8.480e+02  2.560e+02  9.130e+02  8.980e+02
  2.360e+02  1.480e+02  1.840e+02  1.850e+02  2.740e+02  2.380e+02
  2.140e+02  3.420e+02  2.110e+02  3.150e+02  2.480e+02  3.690e+02
  3.110e+02  2.400e+02  3.590e+02  2.550e+02  3.440e+02  3.370e+02
  3.220e+02  2.930e+02  2.730e+02  2.130e+02  4.630e+02  2.150e+02
  3.850e+02  3.830e+02  4.600e+02  2.670e+02  3.680e+02  2.910e+02
  3.300e+02  2.790e+02  4.370e+02  2.370e+02  7.800e+02  1.116e+03
  7.190e+02  9.560e+02  1.149e+03  2.290e+02 -6.800e+01  3.010e+02
  4.790e+02  3.180e+02  2.190e+02  2.800e+02  3.020e+02 -7.400e+01
 -7.100e+01  4.360e+02 -6.400e+01  6.060e+02  4.010e+02  2.760e+02
  8.100e+02  2.390e+02  2.690e+02  2.520e+02  8.560e+02  1.600e+02
  5.460e+02 -6.900e+01 -6.500e+01 -7.200e+01  2.650e+02  4.260e+02
  4.050e+02 -6.700e+01 -6.600e+01  3.280e+02  4.440e+02  3.200e+02
  3.570e+02  2.300e+02  3.190e+02 -7.800e+01  3.650e+02  1.167e+03
  9.400e+02  1.046e+03  1.270e+03  4.060e+02  4.200e+02  4.930e+02
  3.140e+02  8.060e+02  3.260e+02  3.730e+02  4.240e+02  2.870e+02
  2.710e+02  4.250e+02  3.670e+02  4.290e+02 -7.600e+01 -8.400e+01
  3.250e+02  4.690e+02  4.140e+02  2.880e+02  3.350e+02  3.810e+02
  3.510e+02  2.850e+02  3.230e+02  5.180e+02  4.960e+02  3.630e+02
  5.440e+02  8.820e+02  2.680e+02  3.840e+02  3.400e+02  3.090e+02
  3.700e+02  3.060e+02  3.980e+02  3.170e+02  3.940e+02  2.160e+02
  6.460e+02  3.460e+02  2.410e+02  2.840e+02  2.570e+02  7.120e+02
  3.270e+02  2.780e+02  2.660e+02  7.210e+02  3.880e+02  5.540e+02
  4.540e+02  3.070e+02  3.770e+02  4.420e+02  3.920e+02  9.480e+02
  4.040e+02  3.500e+02  4.770e+02  4.610e+02  4.460e+02  2.940e+02
  5.380e+02  4.680e+02  5.150e+02  3.030e+02  2.900e+02  5.100e+02
  6.470e+02  9.650e+02  3.750e+02  3.470e+02  3.520e+02  2.890e+02
  4.000e+02  4.030e+02  4.780e+02  3.360e+02  4.830e+02  3.820e+02
  4.210e+02  3.970e+02  3.600e+02  3.620e+02  4.180e+02  9.310e+02
  4.810e+02  4.070e+02  3.390e+02  5.760e+02  8.870e+02  2.530e+02
  4.590e+02  6.350e+02 -9.800e+01  3.430e+02  6.280e+02 -7.000e+01
  2.990e+02  8.930e+02  3.080e+02  3.800e+02  8.270e+02  3.380e+02
 -8.200e+01  1.289e+03  4.400e+02  5.920e+02  2.750e+02  6.800e+02
  3.290e+02  4.530e+02  6.160e+02  6.980e+02  3.540e+02  3.330e+02
  2.980e+02  3.050e+02  8.410e+02  4.500e+02  2.770e+02  5.110e+02
  5.630e+02  6.180e+02  7.160e+02  4.110e+02  7.680e+02  2.470e+02
  8.600e+02  9.500e+02  4.280e+02  5.490e+02 -7.700e+01  8.660e+02
  1.031e+03  6.100e+02  7.650e+02  8.640e+02  3.480e+02  5.130e+02
  3.000e+02  7.180e+02  6.660e+02  8.140e+02  3.990e+02  4.080e+02
  4.700e+02  4.520e+02  6.810e+02  4.870e+02  1.170e+03  7.670e+02
  3.660e+02  8.840e+02  5.120e+02  8.290e+02  9.690e+02  3.560e+02
  4.910e+02  1.047e+03  7.380e+02  3.710e+02  5.280e+02  8.790e+02
  7.070e+02  9.240e+02  7.910e+02  7.850e+02  7.860e+02  3.930e+02
  3.610e+02  4.450e+02  1.103e+03  5.770e+02  1.117e+03  6.110e+02
  5.400e+02  4.990e+02  4.510e+02  3.040e+02  8.380e+02  8.770e+02
  8.130e+02  3.890e+02  3.120e+02  4.190e+02  6.880e+02  8.760e+02
  1.054e+03  4.330e+02  5.510e+02  3.950e+02  4.300e+02  1.025e+03
  3.450e+02  4.170e+02  4.150e+02  4.120e+02  3.780e+02  4.670e+02
  7.310e+02  1.058e+03  4.380e+02  5.550e+02  2.810e+02  1.122e+03
  3.410e+02  5.270e+02  7.370e+02  4.100e+02  4.410e+02  5.470e+02
  8.390e+02  5.710e+02  3.740e+02  6.580e+02  2.960e+02  7.950e+02
  8.400e+02  3.530e+02  9.580e+02  9.390e+02  4.350e+02  6.120e+02
  6.740e+02  4.650e+02  4.310e+02  3.240e+02  5.160e+02  4.160e+02
  7.170e+02  4.470e+02  1.589e+03  7.640e+02  9.890e+02  7.540e+02
  9.070e+02  1.015e+03  3.790e+02  5.650e+02  4.750e+02  8.580e+02
  7.870e+02  8.220e+02  7.740e+02  9.220e+02  4.580e+02  1.065e+03
  1.072e+03  8.800e+02  4.760e+02  7.340e+02  4.430e+02  5.700e+02
  6.040e+02  4.850e+02  5.560e+02  4.720e+02  1.038e+03  8.030e+02
  1.120e+03  4.270e+02  7.110e+02  4.980e+02  5.840e+02  6.170e+02
  7.230e+02  7.460e+02  4.570e+02  8.670e+02  8.570e+02  4.550e+02
  5.230e+02  4.890e+02  4.840e+02  1.146e+03  1.055e+03  1.067e+03
  7.570e+02  7.550e+02  9.800e+02  7.440e+02  8.690e+02  4.480e+02
  5.310e+02  5.080e+02  1.086e+03  1.276e+03  1.219e+03  3.910e+02
  4.220e+02  5.210e+02  5.970e+02  4.660e+02  9.380e+02  8.960e+02
  8.680e+02  7.690e+02  5.170e+02  5.030e+02  7.280e+02  7.810e+02
  3.870e+02  8.880e+02  8.210e+02  9.010e+02  9.790e+02  1.064e+03
  4.920e+02  6.090e+02  6.480e+02  1.007e+03  5.420e+02  6.600e+02
  7.520e+02  6.530e+02  6.080e+02  1.005e+03  1.135e+03  9.050e+02
  6.380e+02  9.970e+02  1.083e+03  8.490e+02  5.220e+02  6.910e+02
  5.860e+02  8.240e+02  7.960e+02  6.020e+02  6.270e+02  6.490e+02
  7.620e+02  9.090e+02  3.960e+02  1.235e+03  4.390e+02  5.520e+02
  5.960e+02  1.012e+03  1.250e+03  8.830e+02  1.171e+03  5.010e+02
  5.000e+02  6.000e+02  4.880e+02  4.800e+02  5.930e+02  9.550e+02
  8.320e+02  5.350e+02  9.450e+02  8.550e+02  1.165e+03  5.870e+02
  8.440e+02  1.074e+03  8.330e+02  5.580e+02  9.200e+02  8.710e+02
  6.720e+02  9.810e+02  9.460e+02  1.187e+03  8.160e+02  5.530e+02
  5.910e+02  4.620e+02 -7.500e+01  7.760e+02]
carrier <class 'str'> ['UA' 'B6' 'NK' 'AA' 'DL' 'WN' 'EV' 'AS' 'OO' 'VX' 'F9' 'HA']
flight <class 'numpy.int64'> [1537 1161   27 ...  559 1160  122]
tailnum <class 'str'> ['N54711' 'N37287' 'N547JB' ... 'N867DA' 'N820DX' 'N862DA']
origin <class 'str'> ['EWR' 'LGA' 'JFK']
dest <class 'str'> ['MIA' 'IAH' 'MCO' 'ORD' 'FLL' 'LAX' 'DFW' 'ATL' 'MDW' 'BUF' 'LAS' 'CLT'
 'SJU' 'PBI' 'PHL' 'PHX' 'HOU' 'SFO' 'PDX' 'STL' 'DEN' 'SEA' 'BOS' 'RSW'
 'SAV' 'SLC' 'BNA' 'MSY' 'DTW' 'CHS' 'ACK' 'RDU' 'DAL' 'DAB' 'PWM' 'BTV'
 'MSP' 'MYR' 'DCA' 'PVD' 'JAX' 'DAY' 'GSO' 'ROC' 'SAN' 'ORF' 'TPA' 'HNL'
 'CLE' 'MKE' 'AUS' 'TYS' 'SRQ' 'CVG' 'MSN' 'SYR' 'BWI' 'MVY' 'CMH' 'CHA'
 'RIC' 'IAD' 'SNA' 'LGB' 'AVP' 'XNA' 'PIT' 'MEM' 'AVL' 'CAK' 'SBN' 'MHT'
 'MCI' 'LEX' 'IND' 'BUR' 'SDF' 'SJC' 'SMF' 'SAT' 'RNO' 'OMA' 'FWA' 'BHM'
 'ABQ' 'CAE' 'GRR' 'CHO' 'OAK' 'BDL' 'GSP' 'BGR' 'BQN' 'DSM' 'PSP' 'PSE'
 'ALB' 'EGE' 'JAC' 'BZN' 'MTJ' 'HDN' 'STT' 'TUS' 'FNT' 'ANC' 'HYA' 'ILM'
 'TVC']
air_time <class 'numpy.float64'> [148. 183. 133. 108. 156. 326. 139. 187. 143. 103. 106.  99. 101.  53.
 105. 303.  80. 190. 160. 179. 155. 111. 158.  36. 293. 116. 149.  83.
 192. 335. 314. 124. 194. 219. 309. 333.  38. 191. 147. 102. 134. 348.
 286. 146. 350. 197. 280. 153. 110. 325. 346. 349. 329.  74.  75. 141.
  86. 361. 189.  39. 304. 159.  67. 311. 142.  76. 188. 121. 112.  45.
 151.  37. 230. 182. 193.  78. 144.  43. 320.  35. 226. 291. 327.  84.
 136. 117. 138.  77.  52. 222. 324. 339.  81. 145.  79. 221.  71.  66.
 126.  47. 307. 317. 302. 135. 604. 227.  62. 132. 328. 204.  92. 185.
 334. 107. 127. 140. 208. 128. 122. 296. 104. 114. 130. 131. 100. 115.
  88.  42. 125. 313. 137. 620.  44.  41.  69.  82. 154. 223. 113. 278.
 180. 152.  34.  65.  48.  49. 351. 305. 269.  51.  85. 129. 363.  98.
 209. 332.  46.  93. 196. 321. 295. 323. 201.  90. 203.  55. 184. 359.
 301. 186.  64.  54.  25.  63.  56. 358. 164.  40.  97. 241. 318.  59.
  72.  60.  33. 231. 353. 109. 200. 306. 331. 316. 330. 373. 312.  96.

In [95]:
df_final.select_dtypes(include=['int64']).columns

Index(['year_flights', 'month', 'day', 'sched_dep_time', 'sched_arr_time',
       'flight'],
      dtype='object')

In [96]:
# If float type columns do not exhibit numeric characteristics, they are heuristically judged and classified.
df_final.select_dtypes(include=['float64']).columns

# dep_time and arr_time represent times, and since the hour and minute data are in datetime format (%H%M), conversion is needed.
# wind_dir is also considered categorical (because it represents an angle).

Index(['dep_time', 'dep_delay', 'arr_time', 'arr_delay', 'air_time',
       'distance', 'hour', 'minute', 'lat', 'lon', 'alt', 'tz', 'tzone',
       'year_planes', 'engines', 'seats', 'year', 'month_weather',
       'day_weather', 'hour_weather', 'wind_dir', 'wind_speed', 'wind_gust',
       'visib'],
      dtype='object')

In [97]:
df_final["dep_time"] = df_final["dep_time"].apply(lambda x: '{0:04d}'.format(int(x)))
df_final["arr_time"] = df_final["arr_time"].apply(lambda x: '{0:04d}'.format(int(x)))
df_final["wind_dir"] = df_final["wind_dir"].astype("str")

In [98]:
list_categorical_columns = list(df_final.select_dtypes(include=['int64', 'object']).columns)
list_numeric_columns = list(df_final.select_dtypes(include=['float64']).columns)
target_column = "arr_delay"

In [99]:
print(len(df_final.columns))
print(len(list_categorical_columns))
print(len(list_numeric_columns))

43
22
21

In [100]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294896 entries, 0 to 294895
Data columns (total 43 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year_flights    294896 non-null  int64
 1   month           294896 non-null  int64
 2   day             294896 non-null  int64
 3   dep_time        294896 non-null  object
 4   sched_dep_time  294896 non-null  int64
 5   dep_delay       294896 non-null  float64
 6   arr_time        294896 non-null  object
 7   sched_arr_time  294896 non-null  int64
 8   arr_delay       294896 non-null  float64
 9   carrier         294896 non-null  object
 10  flight          294896 non-null  int64
 11  tailnum         294896 non-null  object
 12  origin          294896 non-null  object
 13  dest            294896 non-null  object
 14  air_time        294896 non-null  float64
 15  distance        294896 non-null  float64
 16  hour            294896 non-null  float64
 17  minute          294896 non-null  float64
 18  time_hour       294896 non-null  object
 19  faa             288914 non-null  object
 20  name            288914 non-null  object
 21  lat             288914 non-null  float64
 22  lon             288914 non-null  float64
 23  alt             288914 non-null  float64
 24  tz              288914 non-null  float64
 25  dst             288914 non-null  object
 26  tzone           288914 non-null  float64
 27  year_planes     251043 non-null  float64
 28  type            258583 non-null  object
 29  manufacturer    258583 non-null  object
 30  model           258583 non-null  object
 31  engines         258583 non-null  float64
 32  seats           257966 non-null  float64
 33  engine          258583 non-null  object
 34  dest_datetime   294896 non-null  object
 35  year            294113 non-null  float64
 36  month_weather   294113 non-null  float64
 37  day_weather     294113 non-null  float64
 38  hour_weather    294113 non-null  float64
 39  wind_dir        294896 non-null  object
 40  wind_speed      294113 non-null  float64
 41  wind_gust       294113 non-null  float64
 42  visib           294113 non-null  float64
dtypes: float64(21), int64(6), object(16)
memory usage: 96.7+ MB

#### Summary of Data
#### Number of variables : 43
    numeric variables : 21(target column)
    categorical varabiels : 22 
#### Number of observations : 294896
#### Duplicated Cells : 0

### 2-2 Dependent Data Explore